In [4]:
from preprocess import preprocessing_data
from features_01 import feature_age_group, feature_is_single

ROOT_DIR = Path("").resolve().parent.parent
DATA_DIR = ROOT_DIR / "data"
DATA_PATH = DATA_DIR / "analy_data.csv"
SAVE_FILE = DATA_DIR / "prep_data_v1.csv"

df_merge = preprocessing_data(DATA_PATH)
df_merge = feature_age_group(df_merge)
df_merge = feature_is_single(df_merge)
df_merge

(전처리)데이터 크기: (89822, 73) (2개 제외)

,exmprs_no,age,sex,CTPRVN_CODE,SPOT_NO,wt_p,mbhld_co,reside_adult_co,fma_04z1,fma_13z1,...,smc_09z2,smc_10z2,sob_01z1,sob_02z1,soa_01z1,soa_06z2,soa_07z1,sod_02z3,age_group,is_single
0,2024111170001700102002201,31.0,1,11,00102,380.47075,1.0,1.0,3.0,12000.0,...,NaN,2.0,7.0,1.0,1.0,3.0,2.0,5.0,30.0,1
1,2024111170001700102005901,37.0,1,11,00102,380.47075,3.0,2.0,3.0,NaN,...,NaN,2.0,5.0,1.0,1.0,4.0,2.0,1.0,30.0,0
2,2024111170001700102005902,36.0,2,11,00102,376.40383,3.0,2.0,3.0,NaN,...,NaN,2.0,6.0,1.0,1.0,4.0,2.0,1.0,30.0,0
3,2024111170001700102017001,36.0,1,11,00102,380.47075,2.0,2.0,3.0,8000.0,...,NaN,2.0,7.0,1.0,1.0,3.0,2.0,1.0,30.0,0
4,2024111170001700191001801,64.0,1,11,00191,119.45059,1.0,1.0,1.0,NaN,...,NaN,3.0,3.0,3.0,2.0,NaN,NaN,5.0,60.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89817,2024503970006201711015701,49.0,1,50,01711,51.53645,1.0,1.0,3.0,5000.0,...,NaN,2.0,7.0,3.0,1.0,2.0,1.0,2.0,40.0,1
89818,2024503970006201711018701,77.0,1,50,01711,30.93451,5.0,5.0,3.0,7000.0,...,NaN,3.0,5.0,1.0,2.0,NaN,NaN,1.0,70.0,0
89819,2024503970006201711021602,64.0,1,50,01711,30.93451,3.0,3.0,3.0,3000.0,...,NaN,2.0,5.0,1.0,1.0,9.0,2.0,1.0,60.0,0
89820,2024503970006201711021603,40.0,1,50,01711,51.53645,3.0,3.0,3.0,3000.0,...,NaN,3.0,6.0,3.0,2.0,NaN,NaN,5.0,40.0,0
89821,2024503970006201711033101,39.0,1,50,01711,64.94512,2.0,2.0,3.0,4000.0,...,NaN,2.0,6.0,1.0,1.0,3.0,1.0,1.0,30.0,0