In [1]:
import numpy as np
import pandas as pd

In [22]:
raw_df = pd.read_csv('../../data/raw_data.csv')

In [ ]:
raw_df[((raw_df['sma_03z2'] > 3.0) & (raw_df['sma_12z2'] > 2.0) & (raw_df['sma_37z1'] > 3.0) & (raw_df['sma_01z1']==1))]
# 일반, 그외, 전자담배를 모두 피워본 적 없고 액상형을 피워본 사람 -> 존재 x
# 즉, 액상형만 피워왔던 row는 raw_data에서도 표본없음

Empty DataFrame
Columns: [EXAMIN_YEAR, exmprs_no, age, sex, CTPRVN_CODE, PBHLTH_CODE, SPOT_NO, HSHLD_CODE, MBHLD_CODE, DONG_TY_CODE, HOUSE_TY_CODE, signgu_code, kstrata, wt_h, wt_p, mbhld_co, reside_adult_co, fma_19z3, fma_04z1, fma_12z1, fma_13z1, fma_14z1, fma_24z2, nue_01z1, fma_27z1, fma_26z1, qoa_01z1, smf_01z1, sma_01z1, sma_03z2, smb_01z1, smb_02z1, smb_03z1, smb_04z1, smb_05z1, smb_06z1, smb_09z1, sma_36z1, sma_37z1, smb_11z1, smb_12z1, smb_13z1, sma_08z1, sma_11z2, sma_12z2, smd_02z3, smd_01z3, smc_08z2, smc_09z2, smc_10z2, dra_01z1, drb_01z3, drb_03z1, drb_16z1, drb_04z1, drb_05z1, drg_01z3, dre_03z1, dre_04z1, sfa_02z3, sfb_05z2, sfa_12z2, sfb_07z1, sfa_06z2, sfb_03z2, sfa_08z2, pha_04z1, pha_05z1, pha_06z1, pha_07z1, pha_08z1, pha_09z1, phb_01z1, phb_02z1, phb_03z1, pha_11z1, nua_01z2, nuc_02z1, nuc_01z2, nuc_03z1, oba_02z1, oba_03z1, oba_bmi, oba_01z1, obb_01z1, obb_02a1, obb_02b1, obb_02c1, obb_02k1, obb_02d1, obb_02e1, obb_02f1, obb_02g1, obb_02h1, obb_02i1, cva_11z2, cva_12z1, cva_14z2, cva_16z2, cva_17z1, ...]
Index: []

[0 rows x 209 columns]

In [42]:
df = pd.read_csv('../../data/analy_data.csv')

In [43]:
df[["sma_08z1"]].value_counts()#, "sma_11z2"]]

# 9 모름 -> 2 아니오로 처리
df.loc[df["sma_08z1"] == 9, 'sma_08z1'] = 2.0

In [45]:
df[['sma_08z1', 'churn']].value_counts()

sma_08z1  churn
2.0       1        46103
          0        33278
1.0       0         7293
          1         3148
Name: count, dtype: int64

In [ ]:
df[df['churn']==1][['sma_08z1', 'sma_11z2', 'churn']].value_counts()
# 금연 성공자라고 지정한 row 중 한 달 이내 액상형을 며칠 피웠는지 값에 대한 개수 출력

# 액상형을 피워봤고(1), 금연자(1)인 row만 문제됨. 모든 담배의 금연에 성공했을지 미지수이므로.
# (1) 액상형을 피워봤으면 모두 churn을 0으로 변경 -> 액상형을 피워봤으면 무조건 금연실패로 간주하는 것과 같음. -> X
# (2) 애매한 해당 row만 제거 -> churn 정확도는 확실해짐 -> Liquid_method1() 함수화
# (3) 액상형 피워봤고, 최근 한 달 동안 피운 일수가 0을 초과하면 churn을 0으로 변경 -> Liquid_method2() 함수화
#     단, 금연 기준 '30일'이 다른 피쳐에도 적용될 수 있는가에 대한 문제. 설문에서 흡연자에게 '최근 한 달 동안'을 물으므로 명분 있음

sma_08z1  sma_11z2  churn
2.0       88.0      1        46100
1.0       0.0       1         1762
          30.0      1          615
          31.0      1          461
          10.0      1           48
          15.0      1           48
          20.0      1           45
          1.0       1           44
          5.0       1           28
          3.0       1           20
          2.0       1           20
          7.0       1           19
          25.0      1           15
          4.0       1            7
          14.0      1            6
2.0       99.0      1            3
1.0       6.0       1            2
          12.0      1            2
          28.0      1            2
          22.0      1            1
          8.0       1            1
          29.0      1            1
          27.0      1            1
Name: count, dtype: int64

In [ ]:
# 액상형을 피워봤는데 churn이 1이라 애매한 row 모두 제거. 3,148건 제거됨
def Liquid_method1(df_merge):
    # 9 모름 -> 2 아니오로 처리
    df_merge.loc[df_merge["sma_08z1"] == 9, 'sma_08z1'] = 2.0
    df_merge = df_merge[~((df_merge['sma_08z1']==1) & (df_merge['churn']==1))]
    return df_merge


# 액상형 피워봤고, 최근 한 달 동안 피운 일수가 0을 초과하는데 churn이 1이면 0으로 변경
def Liquid_method2(df_merge):
    # 9 모름 -> 2 아니오로 처리
    df_merge.loc[df_merge["sma_08z1"] == 9, 'sma_08z1'] = 2.0
    df_merge.loc[(df_merge['sma_08z1'] == 1) & (df_merge['sma_11z2'] != 0) & (df_merge['churn'] == 1), 'churn'] = 0
    return df_merge

In [33]:
df_test1 = Liquid_method1(df)
df_test2 = Liquid_method2(df)

In [ ]:
df_test1[['sma_08z1', 'churn']].value_counts() # (1, 1)인 row 모조리 제거했을 때

sma_08z1  churn
2.0       1        46103
          0        33278
1.0       0         7293
Name: count, dtype: int64

In [ ]:
df_test2[['sma_08z1', 'sma_11z2', 'churn']].value_counts() # 조건에 부합하는 churn만 0으로 바꿨을 때

sma_08z1  sma_11z2  churn
2.0       88.0      1        46100
                    0        33276
1.0       0.0       0         3718
          30.0      0         1813
          0.0       1         1762
          31.0      0          984
          10.0      0          321
          1.0       0          319
          20.0      0          265
          15.0      0          250
          2.0       0          224
          5.0       0          203
          3.0       0          175
          7.0       0          161
          25.0      0           71
          4.0       0           62
          14.0      0           33
          8.0       0           16
          12.0      0           12
          6.0       0           11
          28.0      0            8
          99.0      0            8
          18.0      0            4
          21.0      0            3
2.0       99.0      1            3
1.0       22.0      0            2
          9.0       0            2
          26.0      0            2
          13.0      0            2
          16.0      0            2
2.0       99.0      0            2
1.0       29.0      0            2
          17.0      0            1
          11.0      0            1
          27.0      0            1
          24.0      0            1
          23.0      0            1
          77.0      0            1
Name: count, dtype: int64

In [ ]:
print(df_test1['churn'].value_counts(), df_test2['churn'].value_counts()) # 각 df의 churn 데이터 개수

churn
1    46103
0    40571
Name: count, dtype: int64 churn
1    47865
0    41957
Name: count, dtype: int64